stacks/tock/flows.json
[
    {
        "id": "f85ef37c.29fc3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30b115e8.14d24a",
        "type": "tock-nlp-admin-api-service",
        "name": "TockAdmin"
    },
    {
        "id": "f8720941.81145",
        "type": "telegram bot",
        "botname": "DemoBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f1d2a466.5d24e8",
        "type": "tock-web-bot-connector-api",
        "z": "f85ef37c.29fc3",
        "method": "postIoByNamespaceByBotByConnector",
        "postIoByNamespaceByBotByConnector_namespace": "app",
        "postIoByNamespaceByBotByConnector_namespaceType": "str",
        "postIoByNamespaceByBotByConnector_bot": "ipa_test",
        "postIoByNamespaceByBotByConnector_botType": "str",
        "postIoByNamespaceByBotByConnector_connector": "web",
        "postIoByNamespaceByBotByConnector_connectorType": "str",
        "postIoByNamespaceByBotByConnector_body": "",
        "postIoByNamespaceByBotByConnector_bodyType": "str",
        "getIoByNamespaceByBotByConnectorSse_namespace": "",
        "getIoByNamespaceByBotByConnectorSse_namespaceType": "str",
        "getIoByNamespaceByBotByConnectorSse_bot": "",
        "getIoByNamespaceByBotByConnectorSse_botType": "str",
        "getIoByNamespaceByBotByConnectorSse_connector": "",
        "getIoByNamespaceByBotByConnectorSse_connectorType": "str",
        "getIoByNamespaceByBotByConnectorSse_userId": "",
        "getIoByNamespaceByBotByConnectorSse_userIdType": "str",
        "name": "Query Bot",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "d7adba59.3da7a8"
            ]
        ]
    },
    {
        "id": "35ae7ad4.4619ae",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "allumer la lunmière",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"allumer la lumière\",\"userId\":\"user0\"}",
        "payloadType": "json",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f1d2a466.5d24e8"
            ]
        ]
    },
    {
        "id": "d7adba59.3da7a8",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd08de2f.624d4",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "plop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"plop\",\"userId\":\"user0\"}",
        "payloadType": "json",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "f1d2a466.5d24e8"
            ]
        ]
    },
    {
        "id": "9adb3d9c.5dcdf",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "bonjour",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"bonjour\",\"userId\":\"user0\"}",
        "payloadType": "json",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "f1d2a466.5d24e8"
            ]
        ]
    },
    {
        "id": "ee1ef650.9dbff",
        "type": "tock-web-bot-connector-api",
        "z": "f85ef37c.29fc3",
        "method": "getIoByNamespaceByBotByConnectorSse",
        "postIoByNamespaceByBotByConnector_namespace": "app",
        "postIoByNamespaceByBotByConnector_namespaceType": "str",
        "postIoByNamespaceByBotByConnector_bot": "ipa_test",
        "postIoByNamespaceByBotByConnector_botType": "str",
        "postIoByNamespaceByBotByConnector_connector": "web",
        "postIoByNamespaceByBotByConnector_connectorType": "str",
        "postIoByNamespaceByBotByConnector_body": "",
        "postIoByNamespaceByBotByConnector_bodyType": "str",
        "getIoByNamespaceByBotByConnectorSse_namespace": "app",
        "getIoByNamespaceByBotByConnectorSse_namespaceType": "str",
        "getIoByNamespaceByBotByConnectorSse_bot": "ipa_test",
        "getIoByNamespaceByBotByConnectorSse_botType": "str",
        "getIoByNamespaceByBotByConnectorSse_connector": "web",
        "getIoByNamespaceByBotByConnectorSse_connectorType": "str",
        "getIoByNamespaceByBotByConnectorSse_userId": "user0",
        "getIoByNamespaceByBotByConnectorSse_userIdType": "str",
        "name": "Streams User Discuss",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "47f322ae.d9c30c"
            ]
        ]
    },
    {
        "id": "47f322ae.d9c30c",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ed2010c.2550b8",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "ee1ef650.9dbff"
            ]
        ]
    },
    {
        "id": "da01fd6d.15e348",
        "type": "catch",
        "z": "f85ef37c.29fc3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "df42e57f.44e3c8"
            ]
        ]
    },
    {
        "id": "df42e57f.44e3c8",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "7a12e914.060968",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "allumer le salon",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"allumer le salon\",\"userId\":\"user0\"}",
        "payloadType": "json",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "f1d2a466.5d24e8"
            ]
        ]
    },
    {
        "id": "fba220c1.1de8e8",
        "type": "tock-nlp-admin-api",
        "z": "f85ef37c.29fc3",
        "service": "30b115e8.14d24a",
        "method": "getApplications",
        "postApplication_body": "",
        "postApplication_bodyType": "str",
        "getApplicationDumpByApplicationId_applicationId": "",
        "getApplicationDumpByApplicationId_applicationIdType": "str",
        "deleteApplicationByApplicationId_applicationId": "",
        "deleteApplicationByApplicationId_applicationIdType": "str",
        "getApplicationByApplicationId_applicationId": "",
        "getApplicationByApplicationId_applicationIdType": "str",
        "deleteApplicationByApplicationIdIntentByIntentId_applicationId": "",
        "deleteApplicationByApplicationIdIntentByIntentId_applicationIdType": "str",
        "deleteApplicationByApplicationIdIntentByIntentId_intentId": "",
        "deleteApplicationByApplicationIdIntentByIntentId_intentIdType": "str",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_applicationId": "",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_applicationIdType": "str",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_intentId": "",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_intentIdType": "str",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_entityType": "",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_entityTypeType": "str",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_role": "",
        "deleteApplicationByApplicationIdIntentByIntentIdEntityByEntityTypeByRole_roleType": "str",
        "postDumpApplication_fileName": "",
        "postDumpApplication_fileNameType": "str",
        "postDumpApplicationByName_name": "",
        "postDumpApplicationByName_nameType": "str",
        "postDumpApplicationByName_fileName": "",
        "postDumpApplicationByName_fileNameType": "str",
        "postDumpSentences_fileName": "",
        "postDumpSentences_fileNameType": "str",
        "postDumpSentencesByName_name": "",
        "postDumpSentencesByName_nameType": "str",
        "postDumpSentencesByName_fileName": "",
        "postDumpSentencesByName_fileNameType": "str",
        "postParse_body": "",
        "postParse_bodyType": "str",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_dumpType": "full",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_dumpTypeType": "str",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_applicationId": "",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_applicationIdType": "str",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_intent": "",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_intentType": "str",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_locale": "",
        "getSentencesDumpByDumpTypeByApplicationIdByIntentByLocale_localeType": "str",
        "name": "",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "b4302804.026d68"
            ]
        ]
    },
    {
        "id": "d6b41e01.113de",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "fba220c1.1de8e8"
            ]
        ]
    },
    {
        "id": "b4302804.026d68",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 600,
        "wires": []
    },
    {
        "id": "1bb4f4b4.943963",
        "type": "comment",
        "z": "f85ef37c.29fc3",
        "name": "Admin API",
        "info": "",
        "x": 100,
        "y": 540,
        "wires": []
    },
    {
        "id": "e8bba725.e5d7a",
        "type": "comment",
        "z": "f85ef37c.29fc3",
        "name": "Bot API",
        "info": "",
        "x": 90,
        "y": 200,
        "wires": []
    },
    {
        "id": "86c85c3d.9e219",
        "type": "comment",
        "z": "f85ef37c.29fc3",
        "name": "NLP API",
        "info": "",
        "x": 100,
        "y": 660,
        "wires": []
    },
    {
        "id": "635b2d7d.0d762c",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"queries\":[\"Text to parse\"],\"namespace\":\"app\",\"applicationName\":\"ipa_test\",\"context\":{\"language\":\"en\"}}",
        "payloadType": "json",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "aeebc2ff.2b661"
            ]
        ]
    },
    {
        "id": "60d44469.38fb5c",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "aeebc2ff.2b661",
        "type": "tock-nlp-api",
        "z": "f85ef37c.29fc3",
        "method": "parse",
        "parse_body": "",
        "parse_bodyType": "str",
        "name": "Parse",
        "x": 350,
        "y": 720,
        "wires": [
            [
                "60d44469.38fb5c"
            ]
        ]
    },
    {
        "id": "8048ca24.c908e8",
        "type": "inject",
        "z": "f85ef37c.29fc3",
        "name": "Text to parse",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"query\":\"Text to parse\",\"userId\":\"user0\"}",
        "payloadType": "json",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "f1d2a466.5d24e8"
            ]
        ]
    },
    {
        "id": "fd2b51e8.444778",
        "type": "telegram receiver",
        "z": "f85ef37c.29fc3",
        "name": "",
        "bot": "f8720941.81145",
        "saveDataDir": "/tmp",
        "filterCommands": true,
        "x": 130,
        "y": 920,
        "wires": [
            [
                "c5f1e901.7ec428",
                "83424a34.ca9058"
            ],
            [
                "a872c4b6.f9b7"
            ]
        ]
    },
    {
        "id": "c5f1e901.7ec428",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 840,
        "wires": []
    },
    {
        "id": "a872c4b6.f9b7",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 880,
        "wires": []
    },
    {
        "id": "83424a34.ca9058",
        "type": "change",
        "z": "f85ef37c.29fc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.query",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.userId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "688af020.753e4",
                "c943aee5.518b1"
            ]
        ]
    },
    {
        "id": "688af020.753e4",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 880,
        "wires": []
    },
    {
        "id": "c943aee5.518b1",
        "type": "tock-web-bot-connector-api",
        "z": "f85ef37c.29fc3",
        "method": "postIoByNamespaceByBotByConnector",
        "postIoByNamespaceByBotByConnector_namespace": "app",
        "postIoByNamespaceByBotByConnector_namespaceType": "str",
        "postIoByNamespaceByBotByConnector_bot": "ipa_test",
        "postIoByNamespaceByBotByConnector_botType": "str",
        "postIoByNamespaceByBotByConnector_connector": "web",
        "postIoByNamespaceByBotByConnector_connectorType": "str",
        "postIoByNamespaceByBotByConnector_body": "",
        "postIoByNamespaceByBotByConnector_bodyType": "str",
        "getIoByNamespaceByBotByConnectorSse_namespace": "",
        "getIoByNamespaceByBotByConnectorSse_namespaceType": "str",
        "getIoByNamespaceByBotByConnectorSse_bot": "",
        "getIoByNamespaceByBotByConnectorSse_botType": "str",
        "getIoByNamespaceByBotByConnectorSse_connector": "",
        "getIoByNamespaceByBotByConnectorSse_connectorType": "str",
        "getIoByNamespaceByBotByConnectorSse_userId": "",
        "getIoByNamespaceByBotByConnectorSse_userIdType": "str",
        "name": "Query Bot",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "15c721c7.255cbe",
                "e4b9d2e8.308688"
            ]
        ]
    },
    {
        "id": "15c721c7.255cbe",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "118c1433.43e014",
        "type": "telegram sender",
        "z": "f85ef37c.29fc3",
        "name": "",
        "bot": "f8720941.81145",
        "x": 1110,
        "y": 920,
        "wires": [
            [
                "3e389739.5ff9f"
            ]
        ]
    },
    {
        "id": "3e389739.5ff9f",
        "type": "debug",
        "z": "f85ef37c.29fc3",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 920,
        "wires": []
    },
    {
        "id": "e4b9d2e8.308688",
        "type": "change",
        "z": "f85ef37c.29fc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.responses[0].text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "originalMessage.from.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 920,
        "wires": [
            [
                "118c1433.43e014"
            ]
        ]
    }
]